<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace="当前xml对应的Dao接口的全限定名"
-->
<mapper namespace="com.itheima.mapper.UserMapper">

    <!--
        查询所有
        select:做查询操作
        id="和对应接口的方法名保持一致"
        resultType="表示查询的结果集需要转换的JavaBean全限定名"
    -->
    <select id="findAll" resultType="com.itheima.domain.User">
      SELECT * FROM user
    </select>

</mapper>